.login-page {
  background-image: url("https://source.unsplash.com/UYW6FZLlnL8");
  background-size: cover bottom;
  background-position: center;
  height: 100vh;
}

#form-lines{
  margin-top: 210px;
  font-weight: bold;
  color: white;
}

#btn{
  padding: 5px 20px;
  color: #00498e;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}