body {
  background-color: white;
}
.create-main-container {
  margin: 10px 10px;
  width: 355px;

  h6 {
    margin-top: 25px;
    margin-bottom: 12px;
  }
}

.btn-submit-event {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #78d381;
  color: black;
  width: 170px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  border-color: #78d381;
  border-width: 0px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.submit-button {
  text-align: center;
}


// Slections of category
.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 60px;
  i {
    position:relative;
    left: 20px;
  }
  .fa-biking {
    font-size: 50px;
  }

  input {
    position:absolute;
    visibility: hidden;
  }

  .fa-swimmer {
    font-size: 55px;
  }
}

input[type="radio"]:checked ~ * {
  border-radius: 40%;
  background-color: #f2efef;
  padding: 2px;
  border-width: 3px;
  border-style: solid;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}
