.create-main-container {
  margin: 10px 10px;
  width: 375px;
}

.create-main-container h6 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.categories {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
}
