.avatar-creator {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 15px;
}

.event-show-header {
  width: 350px;
  margin: 0;
  p {
    font-size: 13px;
  }
  h3 {
    margin-top: 10px;
    width: 500px;
  }
  .flex-column {
    width: 200px;
  }
}

.map-placeholder {
  width: 350px;
  height: 350px;
}

.avatar-teammate {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button-event {
  border-radius: 5px;
  background-color: blue;
  color: red;
  font-weight: bold;
  width: 100px;
  height: 40px;
  font-size: 20px;
}

#date-and-time {
  width: 250px;
}

#show-event-title {
  text-align: left;
  h3 {
    font-size: 25px;
    font-weight: bold;
  }
}

#weather-forecast {
  
  h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
  }
}

