<div class="card-user d-flex flex-row justify-content-between align-items-center">
  <%= image_tag "avatar/default.png", class:"avatar-card-user mr-1" %>
  <div class="m-0 d-flex flex-column justify-content-between align-items-start" >
    <h3><%= "#{user.first_name}" %></h3>
    <p><%= user.common_teammates %><p>
  </div>
  <a href="#">
   <%= render 'users/button_teammate', user:user %>
  </a>
</div>