<footer class>
  <div class="footer footer-size">
    <%= link_to image_tag("icons/home"), events_path %>
    <%= link_to image_tag("icons/plus"), new_event_path %>
    <%= link_to image_tag("icons/map"), root_path %>
  </div>
</footer>