<footer class>
  <div class="footer footer-size">
    <%= link_to image_tag("icons/home.svg"), events_path %>
    <%= link_to image_tag("icons/plus.svg"), new_event_path %>
    <%= link_to image_tag("icons/user-plus-solid.svg"), pending_teammates_path %>
  </div>
</footer>