<div class="navbar">
  <% if current_user.nil? %>
  <%= image_tag "icons/back_arrow.svg", class:"navbar-avatar" %>
  <% else %>
    <%= link_to image_tag("icons/back_arrow.svg"), 'javascript:history.go(-1);' %>
  <% end %>
  <h1>OpenLake</h1>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt"></i>
  <% end %>
</div>