<% @events.each do |event| %>
    <a class="text-reset" href="<%= event_path(event) %>">
      <div class="mb-1">
        <%= render 'events/card_event' , event:event %>
      </div>
    </a>
<% end %>
