<h1>coucou</h1>

<div class="card-container">
  <%= image_tag "category/default.svg", alt: "logo", width: 200 %>
  <div class="card-info">
    <div class="card-time">
    </div>
  </div>
  <div class="card-distance">
  </div>
</div>