#btn-attend {
  border-radius: 5px;
  background-color: #78d381;
  color: white;
  font-weight: bold;
  padding: 7px 13px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);

}

#btn-cancel {
  border-radius: 5px;
  background-color: #ea6264;
  color: white;
  font-weight: bold;
  padding: 7px 13px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);

}
