.card-user-tmate {
  width: 95%;
  height: 130px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
  .btn-pending {
    color: black;
    padding: 7px 10px;
    border-radius: 5px;
    margin-left: 10px
  }
  .accepted {
    background-color: #00b268;
    font-size: 17px;
    padding: 6px 20px;
    margin-top: 5px;
  }
  .refused {
    background-color: #fc4141;
    font-size: 17px;
    padding: 6px 23px;
    margin-top: 5px;
  }
}
