  .card-container  {
  display: flex;
  justify-content: space-between;
  margin: 13px auto;
  width: 96%;
  border-radius: 3px;
  height: 120px;
  border-top: 1px solid #eae8e8 ;
  border-bottom: 1px solid #eae8e8;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
  position: relative;

  i {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    margin-right: 15px  ;
  }

  #fist_raised {
    margin-top: 9px;
    position: absolute;
    top: 4px;
    right: 9px;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7px;
}

.card-global {
  display: flex;
  justify-content: left;
  align-items: center;
  i {
    margin:0;
    font-size: 90px;
  }
  .div-icon {
    height: 90px;
    width: 90px;
  }

  .fa-biking {
    font-size: 50px;
  }

  .fa-swimmer {
    font-size: 50px;
  }

  .fa-bowling-ball {
    font-size: 60px;
  }

  .fa-futbol {
    font-size: 60px;
  }

  .fa-running {
    font-size: 60px;
  }

  .fa-volleyball-ball {
    font-size: 60px;
  }
}

.card-time {
  display: flex ;
  justify-content: space-between;
  font-size: 10px;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 5px;
}

#event-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

#event-creator {
  font-size: 15px;
  color: #848383;
}

.card-elements {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 5px;
  width: 115px;

  #clock {
    margin-right: 10px;
  }

  #calendar {
    margin-right: 10px;
  }
}

.card-distance {
    position: absolute;
    top: 85px;
    right: 9px;
    display: flex;
    font-size: 15px;

  img {
    margin-top: 4px;
    margin-right: 4px;
  }
}