.card-container  {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 120px;
  border-top: 1px solid #eae8e8 ;
  border-bottom: 1px solid #eae8e8;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  i {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    margin-right: 15px  ;

  }
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.card-global {
  display: flex;
  justify-content: left;
}

.card-time {
  display: flex ;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  padding-bottom: 10px;
  margin-top: 5px;

  img {
    margin: 0px;
  }
}

#event-title {
  display: flex;
  justify-content: space-between;
  font-size: 25px;

  #fist_raised {
    margin-top: 8px;
  }

}

#event-creator {
  font-size: 15px;
}

.card-elements {
  display: flex;
  align-items: center;
  font-size: 17px;

  #clock {
    margin-right: 10px;
  }

}

.card-distance {
  font-size: 16px;
  margin-left: 50px;
}