.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(0,0,0,0.3);
  background-color: orange;
  position: fixed;
  left: 0;
  top: 612px;
  height: 55px;
  width: 375px;
  overflow: hidden;
  

  img {
    width: 40px;
    height: 40px;
  }
}

.footer-size {
  height: 55px;
  width: 375px;
}

body {
  position: relative;
  min-height: 100%;
}


