.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(0,0,0,0.3);
  background-color: $primary-color;
  position: fixed;
  left: 0;
  top: calc(100vh - 55px);
  height: 55px;
  width: 100%;
  overflow: hidden;


  img {
    width: 40px;
    height: 40px;
  }
}

.footer-size {
  height: 55px;
  width: 100%;
}



