.fa-bowling-ball { color: #ce4e4e; }
.fa-biking { color: #32b53b; }
.fa-futbol { color: #735BBF; }
.fa-running { color: orange; }
.fa-swimmer { color: #59cdea; }
.fa-volleyball-ball { color: #FFD700; }