.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 65px;
  background-color: $primary-color;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 5px;
  position: sticky;
  top: 0px;
  z-index: 5;

    img {
      width: 35px;
      height: 35px;
  }
  i {
    font-size: 30px;
    color: black;
    margin-right: 10px;
  }
  h1 {
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
  }
}

#navbar-avatar {
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    width: 44px;
    height: 44px;

}

.navbar-form-index {
  width: 240px;
  margin-left: -22px;
}

.navbar-form-all-but-index {
  width: 260px;
}

.dropdown-menu {
  background-color: rgb(45, 45, 45);
  min-width: 5px;
  width: 120px;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  transform: translate3d(-75px, 47px, 0px);

  p {
    color: white;
    font-size: 16px;
  }

  .link {
    padding-left: 10px;
    padding-right: 10px;
    color: $primary-color !important;
    font-size: 16px;
  }
}

.btn-secondary:hover {
  border-color: none;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary.active:not(:disabled):not(.disabled):focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
