<div class="rating d-flex flex-row justify-content-between">
<% rating.times do %>
<i class="fas fa-star text-warning"></i>
<% end %>
<% (5 - rating).times do %>
<i class="far fa-star text-warning"></i>
<% end %>
</div>
